@import url(reset.css);

body {
  min-height: 100vh;
  color: #333333;
  background-color: #fbfbfb;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/img/fundo-agradecimento-adocao.svg");
  background-position: center 5%;
  background-size: cover;
  opacity: 0.2;
  z-index: -2;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: #fbfbfbb5;
  z-index: -1;
}

a {
  text-decoration: none;
  display: inline-block;
}

.conteiner-principal {
  max-width: 1100px;
  margin: 50px auto;
  display: grid;
  gap: 25px;
  padding: 10px;
}

.titulo {
  font-size: 35px;
  max-width: 50ch;
  font-weight: 600;
  color: #8ad83f;
  text-align: center;
}

.conteiner-img {
  max-width: 400px;
  justify-self: center;
}

.conteiner-img img {
  display: block;
  max-width: 100%;
}

.conteiner-textos {
  max-width: 665px;
  justify-self: center;
  display: grid;
  gap: 22px;
}

.conteiner-textos p {
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
}

.paragrafo-boas-energias {
  font-weight: 600;
}

.paragrafo-cada-gesto::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(/img/patinhas-laranja-amarela.svg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.paragrafo-boas-energias::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/img/coracao-verde.svg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.btn-conteiner {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0 10px;
}

.btn {
  border-radius: 12px;
  width: 190px;
  padding: 13px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #fbfbfb;
  background-color: #ffd833;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 10px #3333333a;
  background-color: #43bcff;
}

.sgd-btn:hover {
  background-color: #fca11d;
}

.sgd-btn {
  background-color: #8ad83f;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 35px 10px;
  background: linear-gradient(to right, #fca11d 0%, #ffd833 100%);
}

.footer p {
  text-align: center;
  padding: 0 22px;
  font-size: 16px;
  font-weight: 600;
  color: #fbfbfb;
  position: relative;
  max-width: 380px;
}

.footer p::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 40px;
  height: 30px;
  background-image: url(/img/detalhe-footer-forms.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 600px) {
  .titulo {
    font-size: 25px;
  }

  .conteiner-img {
    max-width: 300px;
  }

  .conteiner-textos {
    max-width: 466px;
  }

  .conteiner-textos p {
    font-size: 14px;
  }

  .paragrafo-cada-gesto::before {
    width: 35px;
    height: 35px;
  }

  .paragrafo-boas-energias::before {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 490px) {
  .conteiner-principal {
    padding: 15px;
  }

  .conteiner-img {
    max-width: 250px;
  }

  .conteiner-textos {
    max-width: 400px;
  }

  .paragrafo-cada-gesto::before {
    width: 30px;
    height: 30px;
  }

  .paragrafo-boas-energias::before {
    width: 15px;
    height: 15px;
  }

  .btn-conteiner {
    flex-wrap: wrap;
    gap: 15px;
  }

  .btn {
    border-radius: 10px;
    padding: 10px;
  }
}
