@import url(./reset.css);

button {
    cursor: pointer;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 0 30px;
}

.navegacao {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.navegacao a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    font-size: 22px;
}

.navegacao button {
    width: 98px;
    height: 36px;
    border: none;
    border-radius: 8px;
    background: #43BCFF;
    font-size: 16px;
    cursor: pointer;
}

.pagina {
    border-bottom: 2px solid #FFD833;
}

.principal {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 120px;
}

.principal h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 650;
    color: #333;
}

.principal p {
    font-size: 24px;
    text-align: center;
    max-width: 70ch;
    margin: 0 auto;
    color: #333;
}

.conteudo-principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 80px;
    margin-top: 62px;
}

.artigos {
    width: 354px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.artigo-laranja {
    background: #FCA11D;
}

.artigo-laranja h3 {
    color: #FCA11D;
}

.artigo-azul {
    background: #43BCFF;
}

.artigo-azul h3 {
    color: #43BCFF;
}

.artigo-amarelo {
    background: #FFD833;
}

.artigo-amarelo h3 {
    color: #FFD833;
}

.artigos p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    color: #fbfbfb;
}

.artigo-laranja1 h3 {
    font-size: 24px;
    position: absolute;
    top: 32px;
    left: 90px;
    font-weight: bold;
}


.artigo-laranja2 h3 {
    font-size: 24px;
    position: absolute;
    top: 32px;
    left: 75px;
    font-weight: bold;
}

.artigo-azul1 h3 {
    font-size: 24px;
    position: absolute;
    top: 32px;
    left: 115px;
    font-weight: bold;
}

.artigo-azul2 h3 {
    font-size: 24px;
    position: absolute;
    top: 32px;
    left: 135px;
    font-weight: bold;
}

.artigo-amarelo1 h3 {
    font-size: 24px;
    position: absolute;
    top: 32px;
    left: 70px;
    font-weight: bold;
}

.artigo-amarelo2 h3 {
    font-size: 24px;
    position: absolute;
    top: 32px;
    left: 60px;
    font-weight: bold;
}

.blog {
    max-width: 1100px;
    margin: 0 auto;
}

.blog h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
    color: #333;
}

.blog p {
    font-size: 20px;
    text-align: center;
    max-width: 90ch;
    margin: 0 auto;
    color: #333;
    margin-bottom: 50px;
}

.conteudo-blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.lista-blog {
    width: 418px;
    height: 200px;
    border: 8px solid #FFD833;
    border-radius: 20px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}

.lista-blog img {
    position: absolute;
    top: -95px;
    left: -30px;
}


.lista-blog p {
    text-align: left;
    font-size: 18px;
    padding: 5px 0;
    font-weight: 550;
    flex-grow: 1;
}

.lista-blog button {
    width: 178px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: #FCA11D;
    color: #fbfbfb;
    font-size: 20px;
    margin-left: 5px;
    align-self: flex-start;
    margin-left: 0;
}


footer {
    background: #FFD833;
}


.rodape {
    max-width: 1440px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.imagem-logo {
    margin-right: 80px;
}

.imagem-logo p {
    line-height: 3.0;
    font-size: 18px;
    font-weight: 500;
}

.rodape-lista {
    display: flex;
    gap: 60px;
}


.lista ul {
    list-style-type: none;
}

.lista a {
    text-decoration: none;
    color: #333;
    line-height: 2.0;
}

.lista h3 {
    font-size: 18px;
    font-weight: 500;
}

.patrocinadores-e-redes-sociais {
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    gap: 320px;
    margin: 0 auto;
    padding: 0 0 30px 0;
}


.redes-sociais {
    align-items: center;
    gap: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.logos {
    display: flex;
    gap: 20px;
}

.logos img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.redes-sociais p {
    font-size: 17px;
    color: #33333380;
}

.patrocinadores img {
    max-width: 100%;
    height: auto;
}

.imagem-pata {
    background: url(./../img/Patas.svg) no-repeat;
}


@media (max-width: 1265px) {
    .cabecalho {
        gap: 40px;
    }

    .navegacao {
        gap: 15px
    }

    .navegacao a {
        font-size: 16px;
    }

    .principal {
        max-width: 1000px;
        margin-top: 50px;
        margin-bottom: 80px;
        padding: 0 20px;
    }

    .principal p {
        font-size: 18px;
    }

    .conteudo-principal {
        grid-template-columns: 1fr 1fr;
        gap: 40px 30px;
        justify-items: center;
    }

    .artigos {
        max-width: 450px;
        height: 380px;
    }


    .artigos h3 {
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }


    .blog {
        max-width: 1000px;
        padding: 0 20px;
    }

    .blog p {
        margin-bottom: 40px;
    }


    .conteudo-blog {
        grid-template-columns: 1fr 1fr;
        gap: 50px 30px;
        justify-items: center;
    }

    .lista-blog {
        width: 100%;
        max-width: 450px;
        min-height: 180px;
        margin-top: 100px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .lista-blog p {
        font-size: 18px;
        padding: 10px;
        max-width: none;
        flex-grow: 1;
        padding-bottom: 10px;
    }

    .lista-blog button {
        margin-left: 0;
        align-self: flex-start;
    }

    .rodape {
        max-width: 1000px;
        gap: 30px;
        padding: 0 20px;
    }

    .rodape-lista {
        gap: 30px;
    }

    .lista h3,
    .lista a {
        font-size: 14px;

    }

    .imagem-logo {
        margin-right: 20px;
    }

    .imagem-logo p {
        line-height: 2.0;
    }

    .patrocinadores-e-redes-sociais {
        max-width: 1000px;
        gap: 200px;
        padding: 0 20px 30px 20px;
    }

    .redes-sociais {
        width: 500px;
    }

    .redes-sociais p {
        font-size: 14px;
    }

    .patrocinadores img {
        height: 38px;
    }
}

@media (max-width: 1001px) {
    .cabecalho {
        gap: 15px;
    }

    .cabecalho img {
        height: 80px;
    }

    .navegacao {
        gap: 10px
    }

    .navegacao a {
        font-size: 13px;
    }

    .navegacao button {
        width: 80px;
        height: 28px;
        font-size: 12px;
    }

    .principal {
        max-width: 800px;
        margin-top: 40px;
        margin-bottom: 80px;
        padding: 0 20px;
    }

    .principal p {
        font-size: 18px;
    }

    .conteudo-principal {
        grid-template-columns: 1fr 1fr;
        gap: 40px 30px;
        justify-items: center;
    }

    .artigos {
        max-width: 300px;
        height: 380px;
    }

    .artigos img {
        max-width: 300px;
    }


    .artigos h3 {
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }


    .blog {
        max-width: 800px;
        padding: 0 20px;
    }

    .blog p {
        font-size: 18px;
        margin-bottom: 30px;
    }


    .conteudo-blog {
        grid-template-columns: 1fr 1fr;
        gap: 50px 30px;
        justify-items: center;
    }

    .lista-blog {
        width: 100%;
        max-width: 450px;
        min-height: 180px;
        margin-top: 100px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .lista-blog p {
        font-size: 15px;
        padding: 10px;
        max-width: none;
        flex-grow: 1;
        margin-bottom: 0;
    }

    .lista-blog button {
        height: 40px;
        margin-left: 0;
        align-self: flex-start;
    }

    .rodape {
        max-width: 800px;
        gap: 30px;
        padding: 0 20px;
    }

    .rodape-lista {
        gap: 30px;
    }


    .lista h3,
    .lista a {
        font-size: 12px;

    }

    .imagem-logo {
        margin-right: 20px;
    }

    .imagem-logo p {
        font-size: 14px;
        line-height: 1.2;
    }

    .patrocinadores-e-redes-sociais {
        max-width: 800px;
        gap: 200px;
        padding: 0 20px 30px 20px;
    }

    .redes-sociais {
        width: 500px;
    }

    .redes-sociais p {
        font-size: 12px;
    }

    .patrocinadores img {
        height: 58px;
    }

    .logos img {
        height: 25px;
    }
}

@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .navegacao {
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .navegacao a {
        font-size: 14px;
    }

    .principal {
        max-width: 600px;
    }

    .conteudo-principal {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .artigos {
        max-width: 550px;
        height: 380px;
    }

    .artigos img {
        max-width: 451px;
    }

    .blog {
        max-width: 600px;
    }

    .conteudo-blog {
        grid-template-columns: 1fr;
    }

    .lista-blog {
        width: 90%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    .lista-blog img {
        top: -70px;
        left: 0;
        width: 80px;
    }

    .rodape {
        max-width: 500px;
        flex-direction: column;
        height: auto;
        padding: 30px 20px;
        gap: 40px;
        text-align: center;
    }

    .rodape-lista {
        flex-wrap: wrap;
        gap: 40px;
        width: 100%;
    }

    .imagem-logo {
        margin-right: 0;
    }

    .lista {
        text-align: center;
    }

    .lista h3,
    .lista a {
        font-size: 16px;
    }

    .patrocinadores-e-redes-sociais {
        max-width: 550px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .redes-sociais {
        width: auto;
    }

    .logos {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 476px) {
    .cabecalho {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .navegacao {
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .navegacao a {
        font-size: 14px;
    }

    .principal {
        max-width: 280px;
    }

    .principal h1 {
        font-size: 35px;
    }

    .principal p {
        font-size: 14px;
    }

    .conteudo-principal {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .artigos {
        max-width: 250px;
        height: 300px;
    }

    .artigos img {
        max-width: 251px;
    }

    .blog {
        max-width: 300px;
    }

    .blog h2 {
        font-size: 35px;
    }

    .blog p {
        font-size: 14px;
    }

    .conteudo-blog {
        grid-template-columns: 1fr;
    }

    .lista-blog {
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    .lista-blog img {
        top: -70px;
        left: -10px;
        width: 80px;
    }

    .rodape {
        max-width: 280px;
        flex-direction: column;
        height: auto;
        padding: 30px 20px;
        gap: 40px;
        text-align: center;
    }

    .rodape-lista {
        flex-wrap: wrap;
        gap: 40px;
        width: 100%;
        justify-content: center;
    }

    .imagem-logo {
        margin: 0 auto;
    }

    .lista {
        text-align: center;
    }

    .lista h3,
    .lista a {
        font-size: 16px;
    }

    .patrocinadores-e-redes-sociais {
        max-width: 350px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .redes-sociais {
        width: auto;
    }

    .redes-sociais img {
        height: 20px;
    }

    .logos {
        display: flex;
        justify-content: center;
    }
}