@import url(./reset.css);

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

body {
  background-color: #fbfbfb;
  color: #333333;
}

/* Header */
.header-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
  gap: 15px;
}

.logo-header {
  max-width: 65px;
}

.logo-header img {
  max-width: 100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu a {
  padding: 5px 0;
  font-size: 17px;
  color: #333333;
  font-weight: 500;
  position: relative;
}

.menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px 1px;
  background-color: #ffd833;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.menu a:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.menu a.active-pag::before {
  transform: scaleX(1);
  opacity: 1;
}

.btn-header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.btn-header a {
  padding: 4px 16px;
  font-size: 17px;
  color: #fbfbfb;
  font-weight: 500;
  background-color: #43bcff;
  border-radius: 8px;
  border: 2px solid #43bcff;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn-header a:hover {
  color: #43bcff;
  background-color: transparent;
}

/* Menu mobile */
.hamburguer {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 90px;
  right: 0;
  background: #fbfbfb;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 12px 10px #33333311;
  z-index: 1;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-mobile li a {
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.menu-mobile li a:hover {
  transform: scale(1.02);
  color: #43bcff;
}

.btn-mobile-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.btn-mobile-area a {
  padding: 4px 16px;
  font-size: 17px;
  color: #fbfbfb;
  font-weight: 500;
  background-color: #43bcff;
  border-radius: 8px;
  border: 2px solid #43bcff;
  text-align: center;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn-mobile-area a:hover {
  color: #43bcff;
  background-color: transparent;
}

.active {
  display: block;
}

@media (max-width: 990px) {
  .btn-header,
  .nav-desktop {
    display: none;
  }

  .hamburguer {
    display: block;
  }
}

.faixa_azul {
  background-color: #43bcff;
}

.faixa_azul-conteiner {
  max-width: 1100px;
  margin: 0 auto;
  /* margin-top: 120px; */
  /* height: 250px; */
  padding: 60px 20px;
  /* z-index: -1; */
}

.faixa_azul h1 {
  font-size: 40px;
  color: #013552;
  justify-self: center;
}

/* .faixa_azul h1 {    
  text-align: center;      
  color: #013552;
  z-index: 1;
  position: relative;
  bottom: 150px;
  padding: 0px;
  margin-left: 0px;
  font-size: 50px;
 
} */

.faq-conteiner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 60px;
}

details ol,
ul {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
  text-align: left;
}
/* Isso tenta remover qualquer “marcador de lista” que o navegador ache que o <summary> tem. Nem sempre funciona sozinho. */
summary {
  list-style: none;
}
/* display: none; Remove o triângulo no Safari/Chrome/ Opera/
Edge/(principal) */

summary::-webkit-details-marker {
  list-style: none;
}
/* Remove marcador no Firefox / padrões novos */
summary::marker {
  display: none;
}

details {
  width: 100%;
  margin: 15px 0px;
  border: 3px solid #ffd833;
  padding: 15px 0;
  transition: all 0.3s ease;
  background: white;
}

details[open] {
  padding-bottom: 30px;
}

summary {
  text-align: left;
  font-size: 20px;
  font-weight: medium;
  cursor: pointer;
  padding: 25px;
}
.conteudo {
  padding: 0 40px;
  font-size: 20px;
  text-align: left;
}

details:hover {
  transform: scale(1.04);
}

.footer {
  background-color: #ffd833;
  padding: 25px 0;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.footer-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/img/patas-footer-padrao.svg);
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.footer-esquerda {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-esquerda p {
  font-size: 16px;
  max-width: 40ch;
  font-weight: 500;
}

.midia-social {
  display: flex;
  gap: 20px;
}

.footer-img {
  max-width: 140px;
}

.footer-img img {
  max-width: 100%;
}

.footer-direita {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-direita h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-direita ul li a {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333333;
  transition: color 0.2s ease;
}

.footer-direita ul li a:hover {
  color: #fbfbfb;
}

.footer-direitos {
  font-size: 14px;
  color: hsla(0, 0%, 20%, 0.769);
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 430px) {
  body {
    font-size: 14px; /* ajusta tamanho base */
  }

  .duvida_faixa_azul {
    height: 180px;
    margin-top: 80px;
  }

  .faixa_azul h1 {
    font-size: 28px;
    bottom: 100px;
    padding: 0 10px;
    text-align: center;
    top: -130px;
  }

  /* Details */
  details {
    padding: 10px 10px;
    border-width: 2px;
  }

  details[open] {
    padding-bottom: 20px;
  }

  summary {
    font-size: 15px;
    padding: 18px 10px;
  }

  .conteudo {
    padding: 0 15px;
    font-size: 15px;
  }

  details:hover {
    transform: scale(1.02);
  }
}
