@import url(./reset.css);

*body {
  background-color: #fbfbfb;
}

.duvida_faixa_azul{
 margin-top: 120px;
  background-color: #43bcff;
  width: 100%;
  height: 250px;
  z-index: -1;
  
}

.faixa_azul h1 {    
  text-align: center;      
  color: #013552;
  z-index: 1;
  position: relative;
  bottom: 150px;
  padding: 0px;
  margin-left: 0px;
  font-size: 50px;
 
}

details ol, ul {
  padding-left: 0;         
  margin-left: 0;          
  list-style-position: inside; 
  text-align:left;
}
/* Isso tenta remover qualquer “marcador de lista” que o navegador ache que o <summary> tem. Nem sempre funciona sozinho. */
summary {
  list-style: none; 
}
/* display: none; Remove o triângulo no Safari/Chrome/ Opera/
Edge/(principal) */

summary::-webkit-details-marker {
  list-style: none;
}
/* Remove marcador no Firefox / padrões novos */
 summary::marker {
  display: none; 
}


details {
  width: 100%;
  margin: 15px 0px;
  border: 3px solid #FFD833;
padding: 15px 0;  
  transition: all .3s ease;
  background: white;
}

details[open] {
  padding-bottom: 30px; 
}

summary {
  text-align: left; 
  font-size: 20px;
  font-weight: medium;
  cursor: pointer;
   padding: 25px;
}
.conteudo {
  padding: 0 40px;
  font-size: 20px; 
  text-align: left;
  
}

details:hover {
  transform: scale(1.04);
}

@media (max-width: 430px) {
  
  body {
    font-size: 14px; /* ajusta tamanho base */
  }


  .duvida_faixa_azul {
    height: 180px; 
    margin-top: 80px;
  }

  .faixa_azul h1 {
    font-size: 28px;
    bottom: 100px; 
    padding: 0 10px;
    text-align: center;
    top: -130px;
  }

  /* Details */
  details {
    padding: 10px 10px; 
    border-width: 2px;
  }

  details[open] {
    padding-bottom: 20px;
  }

  summary {
    font-size: 15px; 
    padding: 18px 10px;
  }

  .conteudo {
    padding: 0 15px;
    font-size: 15px; 
  }

  details:hover {
    transform: scale(1.02); 
  }
}



